body {
    /* Hareketli Arka Plan Kodları */
    background: linear-gradient(-45deg, #121212, #0f2027, #203a43, #121212);
    background-size: 400% 400%;
    animation: nefesAlma 15s ease infinite;

    /* Sabit Kalan Tasarım Ayarları */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Animasyonun Hareket Motoru */
@keyframes nefesAlma {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
